/* ---------- */
/* -- Blog -- */
/* ---------- */

#blog {
  margin: 0 var(--margin-hor) 97px var(--margin-hor);
  padding-inline: 86px;
  border-radius: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: linear-gradient(to bottom right, #c1ddeb, #e6f5f8);
  display: flex;
  gap: 105px;
}
#blog img {
  margin-top: 55px;
  width: 515px;
}
/* Offer content */
.blog-content {
  margin-top: 85px;
}
/* Offer head */
.blog-head {
  font-weight: 600;
  font-size: var(--fs-h1);
  color: var(--color-text);
  margin-bottom: 33px;
}
#blog p {
  font-weight: 400;
  font-size: var(--fs-p);
  line-height: 164%;
  color: #585981;
  margin-bottom: 37px;
}

@media screen and (max-width: 1440px) {
  .blog-head {
    font-size: 42px;
  }
  #blog p {
    font-size: 18px;
  }
  #blog img {
    width: 39vw;
  }
}
@media screen and (max-width: 1280px) {
  #blog {
    margin-inline: var(--margin-hor-1280);
    margin-bottom: 90px;
  }
  .blog-head {
    font-size: 34px;
    margin-bottom: 20px;
  }
  #blog p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  #blog img {
    width: 33vw;
  }
  .blog-content {
    margin-top: 53px;
  }
  #blog .button {
    font-size: 15px;
    padding: 5px 10px;
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 1000px) {
  #blog {
    gap: 54px;
    margin-inline: var(--margin-hor-1000);
    margin-bottom: 80px;
  }
  .blog-head {
    font-size: 24px;
    margin-bottom: 20px;
  }
  #blog p {
    font-size: 12px;
    margin-bottom: 20px;
  }
  .blog-content {
    margin-top: 53px;
  }
  #blog .button {
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  #blog {
    padding: 35px;
  }
  .blog-content {
    margin-top: 0;
  }
  #blog img {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  #blog {
    padding: 39px;
    margin-bottom: 60px;
    margin-inline: 25px;
  }
  .blog-head {
    font-size: 28px;
    margin-bottom: 20px;
  }
  #blog p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  #blog .button {
    display: table;
    margin: 0 auto;
    font-size: 14px;
    padding: 8px 15px;
  }
}
