/*----------- */
/* Properties */
/* ---------- */

#properties {
  margin: 0 var(--margin-hor-sec) 120px var(--margin-hor-sec);
}
#properties a {
  font-weight: 500;
  font-size: 24px;
  color: var(--color-prim);
  text-decoration: none;
}
.tab-header {
  color: var(--color-text);
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
}
/* Property list */
.property-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
/* Property tab */
.property-tab {
  border: 1.5px solid #dcdceb;
  border-radius: 30px;
  box-shadow: 0 17px 50px 0 rgba(143, 144, 166, 0.32);
  width: 585px;
  height: min-content;
  padding: 29px 36px;
  display: flex;
  gap: 36px;
}
.property-tab:hover {
  border: 1px solid var(--color-prim);
}
.property-desc {
  width: fit-content;
  align-items: top;
}
.property-name {
  font-weight: 600;
  font-size: var(--fs-h3);
  color: var(--color-text);
  margin-bottom: 18px;
}
/* Property attributes */
.property-attributes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  gap: 35px;
}
.property-attributes span {
  font-weight: 500;
  font-size: 16px;
  color: var(--color-acc);
}
/* Price */
.property-price {
  border-radius: 10px;
  background: var(--color-acc);
  font-weight: 500;
  font-size: 19px;
  color: #fff !important;
  padding: 8px 19px;
}

@media screen and (max-width: 1440px) {
  .property-img {
    width: 10vw;
  }
  .property-name {
    font-size: 25px;
  }
  .property-attributes {
    gap: 25px;
    letter-spacing: -1px;
  }
  .property-tab {
    width: 39.4vw;
  }
}
@media screen and (max-width: 1280px) {
  #properties {
    margin-inline: var(--margin-hor-sec-1280);
    margin-bottom: 100px;
  }
  .property-list {
    justify-content: center;
  }
  .property-tab {
    display: block;
    padding: 22px 25px;
  }
  .property-img {
    width: 15vw;
    margin-bottom: 20px;
  }
  .property-name {
    font-size: 19px;
  }
  .property-attributes {
    gap: 20px;
    letter-spacing: -1px;
  }
}
@media screen and (max-width: 768px) {
  #properties {
    margin-inline: var(--margin-hor-sec-768);
    margin-bottom: 80px;
  }
  .property-tab {
    padding: 20px 22px;
    display: flex;
    gap: 25px;
    width: 100%;
  }
  .property-img {
    width: 18vw;
    margin: 0;
  }
  .property-name {
    font-size: 21px;
  }
  .property-attributes {
    gap: 20px;
    letter-spacing: -1px;
  }
}
@media screen and (max-width: 540px) {
  #properties {
    margin-inline: var(--margin-hor-sec-540);
    margin-bottom: 60px;
  }
  .property-tab {
    display: block;
  }
  .property-img {
    width: 35vw;
    margin-bottom: 20px;
  }
  .property-name {
    font-size: 21px;
  }
  .property-attributes {
    letter-spacing: -1.8px;
  }
}
