/* --------- */
/* Countries */
/* --------- */

.countries {
  margin-inline: var(--margin-hor-sec);
  margin: 0 120px 141px 120px;
  text-align: center;
}
.tab-header {
  margin-bottom: 56px;
}
/* Country tabs */
.country-tabs {
  display: flex;
  justify-content: space-between;
}
/* Country tab */
.country-tab {
  border-radius: 30px;
  width: clamp(120px, max(185px, 20vw), 278px);
  height: 426px;
  background-repeat: no-repeat !important;
  background-position: center;
}
.country-title {
  margin-top: 48px;
  font-weight: 600;
  font-size: var(--fs-h4);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #110229;
}