@media screen and (max-width: 1440px) {
  /* Wrapper */
  .wrapper {
    width: 100% !important;
  }
}
@media screen and (max-width: 1280px) {
  .button-transperant {
    padding: 6px 33px !important;
    line-height: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .button-transperant {
    padding: 6px 15px !important;
  }
}